<a href="https://colab.research.google.com/github/kmilawn/DataMining/blob/main/DataMining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####Nama: Najwah Kamila
####NIM: A11.2023.15209
####Mata Kuliah: Data Mining

In [4]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
import numpy as np

#1. Membuat DataFrame

In [5]:
# Data Awal
data = {
    'Usia': [25, 30, 35, 22, 40, 28, 50, 45, 33, 27],
    'Gaji_Bulanan': [5000000, 7500000, 6000000, np.nan, 9000000, 5500000, 12000000, 8000000, 6500000, 5200000],
    'Kota': ['Jakarta', 'Bandung', 'Surabaya', 'Jakarta', 'Bandung', 'Jakarta', 'Surabaya', 'Bandung', 'Jakarta', 'Yogyakarta'],
    'Status_Bekerja': [1, 1, 0, 1, 0, 1, 1, 0, 1, 0] # 1: Ya, 0: Tidak
}

df = pd.DataFrame(data)
print(df)
print("\n")

print("\n" + "="*50 + "\n")

   Usia  Gaji_Bulanan        Kota  Status_Bekerja
0    25     5000000.0     Jakarta               1
1    30     7500000.0     Bandung               1
2    35     6000000.0    Surabaya               0
3    22           NaN     Jakarta               1
4    40     9000000.0     Bandung               0
5    28     5500000.0     Jakarta               1
6    50    12000000.0    Surabaya               1
7    45     8000000.0     Bandung               0
8    33     6500000.0     Jakarta               1
9    27     5200000.0  Yogyakarta               0



==================================================

#2. Preprocessing Data

In [6]:
# Penanganan Missing Values (Nilai Hilang)
# Periksa missing values
print("Missing Values per Kolom:")
print(df.isnull().sum())

# Isi missing value di kolom 'Gaji_Bulanan' dengan nilai median
median_gaji = df['Gaji_Bulanan'].median()
#df['Gaji_Bulanan'].fillna(median_gaji, inplace=True)
df.fillna({'Gaji_Bulanan': median_gaji}, inplace=True)

print("\nDataFrame setelah imputasi Gaji_Bulanan:")
print(df)

print("\n" + "="*50 + "\n")

Missing Values per Kolom:
Usia              0
Gaji_Bulanan      1
Kota              0
Status_Bekerja    0
dtype: int64

DataFrame setelah imputasi Gaji_Bulanan:
   Usia  Gaji_Bulanan        Kota  Status_Bekerja
0    25     5000000.0     Jakarta               1
1    30     7500000.0     Bandung               1
2    35     6000000.0    Surabaya               0
3    22     6500000.0     Jakarta               1
4    40     9000000.0     Bandung               0
5    28     5500000.0     Jakarta               1
6    50    12000000.0    Surabaya               1
7    45     8000000.0     Bandung               0
8    33     6500000.0     Jakarta               1
9    27     5200000.0  Yogyakarta               0

==================================================

In [7]:
# Encoding Data Kategorikal
# Menggunakan One-Hot Encoding untuk kolom 'Kota'
encoder = OneHotEncoder(sparse_output=False, drop='first') # drop='first' itu untuk menghindari multicollinearity atau data dummy

# Fit dan transform kolom 'Kota'
kota_encoded = encoder.fit_transform(df[['Kota']])

# Buat DataFrame baru dari hasil encoding
kota_df = pd.DataFrame(kota_encoded, columns=encoder.get_feature_names_out(['Kota']))

# Gabungkan dengan DataFrame asli dan hilangkan kolom 'Kota' yang lama
df = pd.concat([df.drop('Kota', axis=1), kota_df], axis=1)

print("DataFrame setelah One-Hot Encoding:")
print(df)

print("\n" + "="*50 + "\n")

DataFrame setelah One-Hot Encoding:
   Usia  Gaji_Bulanan  Status_Bekerja  Kota_Jakarta  Kota_Surabaya  \
0    25     5000000.0               1           1.0            0.0
1    30     7500000.0               1           0.0            0.0
2    35     6000000.0               0           0.0            1.0
3    22     6500000.0               1           1.0            0.0
4    40     9000000.0               0           0.0            0.0
5    28     5500000.0               1           1.0            0.0
6    50    12000000.0               1           0.0            1.0
7    45     8000000.0               0           0.0            0.0
8    33     6500000.0               1           1.0            0.0
9    27     5200000.0               0           0.0            0.0

   Kota_Yogyakarta
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
5              0.0
6              0.0
7              0.0
8              0.0
9              1.0

==================================================

In [8]:
#Pembagian Data (Fitur vs Target)
# Misalkan 'Status_Bekerja' adalah variabel target (Y)

X = df.drop('Status_Bekerja', axis=1) # Fitur
Y = df['Status_Bekerja']             # Target

print("Fitur (X):")
print(X.head())

print("\nTarget (Y):")
print(Y.head())

print("\n" + "="*50 + "\n")

Fitur (X):
   Usia  Gaji_Bulanan  Kota_Jakarta  Kota_Surabaya  Kota_Yogyakarta
0    25     5000000.0           1.0            0.0              0.0
1    30     7500000.0           0.0            0.0              0.0
2    35     6000000.0           0.0            1.0              0.0
3    22     6500000.0           1.0            0.0              0.0
4    40     9000000.0           0.0            0.0              0.0

Target (Y):
0    1
1    1
2    0
3    1
4    0
Name: Status_Bekerja, dtype: int64

==================================================

In [10]:
# Pembagian Data Latih dan Uji (Train-Test Split)

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42) # 30% data untuk testing

print(f"Jumlah total data: {len(X)}")
print(f"Jumlah data latih (X_train): {len(X_train)}")
print(f"Jumlah data uji (X_test): {len(X_test)}")

Jumlah total data: 10
Jumlah data latih (X_train): 7
Jumlah data uji (X_test): 3